.cart-review-card {
    margin: 24px 0px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
}

.cart-review-card .ant-card-head {
    font-size: 22px;
}

.cart-review-card .ant-card-head small {
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.65);
}

.cart-review-card .ant-card-body {
    padding: 0px;
}

.order-checkout-form {
    padding: 24px;
}

.order-checkout-form .ant-form-item {
    margin-bottom: 8px;
}

.order-confirmation-wrapper {
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.order-confirmation-wrapper img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 24px;
}

/* steps icon */

.cart-wrapper .ant-steps-item-custom .ant-steps-item-icon>.ant-steps-icon {
    font-size: 30px;
}

.steps-action-next-button {
    display: inline-block;
    float: right;
}