.empty-owner-restaurant-list {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-owner-restaurant-list img {
    width: 80%;
    max-width: 300px;
}

.empty-owner-restaurant-list h3 {
    margin-bottom: 24px;
}

.restaurant-cards {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.owner-home {}

.owner-home .headings-with-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown {
    justify-content: right;
    text-align: right;
    align-content: right;
    padding-top: 15px;
}

.rest-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.no-restaurants {
    padding: 20px;
}