.user-restaurant-drawer .ant-drawer-content-wrapper {
    width: 100vw !important;
    padding-top: 57px;
}

.user-restaurant-drawer .ant-drawer-header {
    padding: 0px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100vw;
}

.user-restaurant-drawer .ant-drawer-body {
    padding: 0px;
    overflow-x: hidden;
}

.user-restaurant-drawer .user-restaurant-drawer-image {
    height: 395px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 36px 0px;
}

.user-restaurant-drawer .user-restaurant-drawer-image .info {
    height: 100%;
    width: 450px;
    padding: 24px 48px;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
}

.user-restaurant-drawer .user-restaurant-drawer-image .info i {
    font-size: 20px;
    margin-right: 12px;
}

.user-restaurant-drawer .user-restaurant-drawer-image .info .restaurant-name {
    font-size: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-restaurant-drawer .user-restaurant-drawer-image .info .restaurant-details {
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-restaurant-drawer .user-restaurant-drawer-image .info .restaurant-address {
    display: flex;
    flex-direction: row;
    padding: 8px 0px 4px 0px;
    font-weight: 300;
    text-decoration: underline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-restaurant-drawer .user-restaurant-drawer-image .info .restaurant-hours {
    display: flex;
    flex-direction: row;
    padding: 8px 0px 4px 0px;
}

.user-restaurant-drawer .user-restaurant-drawer-image .info .restaurant-hours .restaurant-hours-row {
    display: flex;
    flex-direction: row;
}

.user-restaurant-drawer .user-restaurant-drawer-image .info .restaurant-hours .restaurant-hours-row .day-of-week {
    width: 80px;
}

.user-restaurant-drawer .user-restaurant-drawer-image .info .restaurant-hours .restaurant-hours-row .open-time {
    width: 64px;
    text-align: right;
    font-weight: 300;
}

.user-restaurant-drawer .user-restaurant-drawer-image .info .restaurant-hours .restaurant-hours-row .close-time {
    width: 72px;
    text-align: right;
    font-weight: 300;
}

.user-restaurant-drawer .user-restaurant-drawer-menu-items {
    padding: 24px;
}

.restaurant-menu-item-card {
    margin-bottom: 24px;
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16); */
    font-weight: 300;
}

.restaurant-menu-item-card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-item-customize-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0px 0px 0px;
}

.menu-item-customize-actions h2 {
    margin-bottom: 0px;
}

.quantity-update {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.quantity-update .quantity {
    font-size: 22px;
    font-weight: 500;
    min-width: 16px;
    margin: 0px 8px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .user-restaurant-drawer .ant-drawer-content-wrapper {
        width: 100vw !important;
    }
    .user-restaurant-drawer .user-restaurant-drawer-image {
        padding: 36px 24px;
    }
    .user-restaurant-drawer .user-restaurant-drawer-image .info {
        padding: 24px;
    }
    .restaurant-menu-item-card {
        margin-bottom: 16px;
    }
    .user-restaurant-drawer .user-restaurant-drawer-image .info {
        width: 100%;
    }
}