.restaurant-info-drawer .ant-drawer-content-wrapper {
    width: 475px !important;
}

.restaurant-info-drawer .ant-drawer-header {
    padding: 0px;
}

@media screen and (max-width: 767px) {
    .restaurant-info-drawer .ant-drawer-content-wrapper {
        width: 100vw !important;
    }
}