.search-bar {
    float: right;
    padding-top: 3px;
    padding-right: 25px;
}

.dasboard-content-wrapper {
    text-align: center;
}

/* #tab-bar .demo {
    display: flex;
    flex-direction: column;
}

#tab-bar .demoName {
    height: 40px;
}

#tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
} */