
.dasboard-content-wrapper {
    text-align: center;
}

.spinner-wrapper{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* #tab-bar .demo {
    display: flex;
    flex-direction: column;
}

#tab-bar .demoName {
    height: 40px;
}

#tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
} */