.picker-wrapper {
    height: 100vh;
    width: 100vw;
}

.picker-row {
    height: 100%;
}

.picker-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picker-option:hover {
    cursor: pointer;
}

.picker-text {
    width: 300px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 28px;
    color: white;
    border: 1px solid white;
}

/* User - Driver - Owner */

.user-background {
    height: 100%;
}

.user-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../images/user.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    transition: 0.5s;
}

.user-background:hover::before {
    background: linear-gradient( rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../images/user.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.99;
}

.driver-background {
    height: 100%;
}

.driver-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../images/driver.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    transition: 0.5s;
}

.driver-background:hover::before {
    background: linear-gradient( rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../images/driver.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.99;
}

.owner-background {
    height: 100%;
}

.owner-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../images/owner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    transition: 0.5s;
}

.owner-background:hover::before {
    background: linear-gradient( rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../images/owner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.99;
}

@media screen and (max-width: 991px) {
    .one-third {
        height: 33.33%;
    }
    .picker-text {
        width: 250px;
        height: 60px;
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .one-half {
        height: 50%;
    }
    .picker-text {
        width: 250px;
        height: 60px;
        font-size: 24px;
    }
}